@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model List<MyBlog.Models.Blog>;
@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}

<div id="container-left">
    <div class="card1">
        <div id="content-left">
            <img src="https://mk0knowtechie1qof48y.kinstacdn.com/wp-content/uploads/2020/02/samsung-galaxy-s20-1536x864.jpg" style="width:350px;" />
        </div>
        <div id="content-right" style="background-color:red; width:350px;">
            <div class="info-top">
                <h4>
                    <a asp-controller="Home" asp-action="Index">NEWS</a>    
                </h4>
                
            </div>

        </div>


    </div>
</div>
<div id="container-right">

</div>